<div class="bg-[#ffc794] pt-24">
  <div class="relative">
    <div class="absolute right-[1000px] top-[-10px]">
      <img
        src="../../../assets/img/download (1).png"
        class="w-[200px] h-[100px] rotate-[8deg]"
        alt=""
        srcset=""
      />
    </div>
  </div>
  <div
    class="max-w-screen-xl mx-auto grid grid-cols-2 md:grid-cols-2 gap-72 items-center bg-center bg-no-repeat bg-auto"
  >
    <!-- Left Content Section -->
    <div class="">
      <div class="text-center md:text-left">
        <h3
          class="text-2xl md:text-3xl font-['sharp-sans-semibold'] leading-tight"
        >
          Thousands of providers.<br />One app.
        </h3>
        <p class="mt-4 text-sm text-gray-700">
          The Zocdoc app is the quickest, easiest way to book and keep track of
          your appointments.
        </p>
      </div>

      <div class="flex flex-col items-center md:items-start">
        <p class="text-sm text-gray-700">Scan the QR code to get the app now</p>
        <div class="w-[102px] h-[102px] mt-4 rounded-md bg-white">
          <img
            src="../../../assets/img/promotion/qr-code-svgrepo-com.png"
            class="w-full h-full"
            alt="QR Code"
          />
        </div>
      </div>

      <div class="flex justify-center md:justify-start space-x-4">
        <a
          href="http://itunes.apple.com/us/app/zocdoc-doctor-appointments/id391062219?mt=8"
        >
          <img
            src="../../../assets/img/promotion/download-on-the-app-store-apple-logo-svgrepo-com.png"
            class="w-[102px] h-[102px]"
            alt="Download on App Store"
          />
        </a>
        <a href="https://market.android.com/details?id=com.zocdoc.android">
          <img
            src="../../../assets/img/promotion/google-play-badge-logo-svgrepo-com.png"
            class="w-[102px] h-[102px]"
            alt="Get it on Google Play"
          />
        </a>
      </div>
    </div>

    <!-- Right Image Section -->
    <div
      class="flex justify-center items-center bg-[url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDE4IDM5NSI+CiAgPHBhdGggZD0iTTcwNC4yNDcgMzguNDgzYzEyOS42MzIgNTIuMDY4IDIzMy40MDcgMTUzLjg0NCAyODguNDk4IDI4Mi45NEE1MzIuMDYyIDUzMi4wNjIgMCAwIDEgMTAxNy45NiAzOTVILjVhNTMyLjMyIDUzMi4zMiAwIDAgMSAxOS45NTctNjAuNzg3QzcyLjE3OCAyMDMuNzEyIDE3My4yNzcgOTkuMjQxIDMwMS41MTMgNDMuNzhjMTI4LjIzNS01NS40NiAyNzMuMTAzLTU3LjM2NSA0MDIuNzM0LTUuMjk3WiIgZmlsbD0iI0ZFRUQ1QSIvPgo8L3N2Zz4K')] bg-no-repeat ml-[-400px] w-[1000px] mb-[-1px]"
    >
      <img
        alt="Screenshots of the Zocdoc app showing appointment times and video visits"
        loading="lazy"
        src="../../../assets/img/promotion/zocdoc-app-in-hand-1344w___5f217.png"
        class="w-full max-w-[600px] mt-[-128px] h-[500px]"
      />
    </div>
  </div>
</div>
