<div class="bg-[#15663b] p-32">
  <div class="relative">
    <img
      src="../../../../../../assets/img/provider/sd/Squiggle_3___b6fc0 (1).webp"
      class="absolute top-[260px] w-[550px] h-auto left-[-20px] rotate-45"
      style="z-index: 0"
      alt=""
    />
  </div>
  <div class="relative bg-blue-600">
    <img
      src="../../../../../../assets/img/provider/sd/1.webp"
      class="absolute top-[50px] w-[100px] h-auto left-[500px]"
      style="z-index: 0"
      alt=""
    />
  </div>
  <div class="relative">
    <img
      src="../../../../../../assets/img/provider/sd/Squiggle_3___b6fc0 (1).webp"
      class="absolute top-[260px] w-[550px] h-auto rotate-[316deg] right-[-110px] transform scale-x-[-1]"
      style="z-index: 0"
      alt=""
    />
  </div>
  <div class="max-w-screen-lg mx-auto">
    <div class="">
      <h1 class="text-3xl text-white">Providers squigglethrive with Zocdoc</h1>
    </div>
    <div
      class="grid grid-cols-1 md:grid-cols-2 justify-center gap-6 h-auto items-center my-12"
    >
      <!-- Card 1 -->
      <div
        class="flex flex-col items-start justify-center p-6 bg-white shadow-md rounded-lg"
        style="z-index: 100"
      >
        <blockquote
          class="text-xl italic font-semibold text-gray-900 dark:text-white"
        >
          <svg
            class="w-8 h-8 text-gray-400 dark:text-gray-600 mb-4"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 18 14"
          >
            <path
              d="M6 0H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3H2a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Zm10 0h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3h-1a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Z"
            />
          </svg>
          <p>
            "Flowbite is just awesome. It contains tons of predesigned
            components and pages starting from login screen to complex
            dashboard. Perfect choice for your next SaaS application."
          </p>
        </blockquote>
        <div class="flex items-center mt-4">
          <div
            class="w-12 h-12 bg-green-500 rounded-full flex items-center justify-center text-white font-bold"
          >
            CS
          </div>
          <div class="ml-4">
            <h3 class="text-gray-800 font-medium">Dr. Clement Sun, MD</h3>
            <p class="text-gray-600">Primary care physician</p>
            <a href="#" class="text-blue-500 hover:underline"
              >View case study</a
            >
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div
        class="flex flex-col items-start justify-center p-6 bg-white shadow-md rounded-lg"
        style="z-index: 100"
      >
        <blockquote
          class="text-xl italic font-semibold text-gray-900 dark:text-white"
        >
          <svg
            class="w-8 h-8 text-gray-400 dark:text-gray-600 mb-4"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 18 14"
          >
            <path
              d="M6 0H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3H2a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Zm10 0h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3h-1a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Z"
            />
          </svg>
          <p>
            "Flowbite is just awesome. It contains tons of predesigned
            components and pages starting from login screen to complex
            dashboard. Perfect choice for your next SaaS application."
          </p>
        </blockquote>
        <div class="flex items-center mt-4">
          <div
            class="w-12 h-12 bg-green-500 rounded-full flex items-center justify-center text-white font-bold"
          >
            CS
          </div>
          <div class="ml-4">
            <h3 class="text-gray-800 font-medium">Dr. Clement Sun, MD</h3>
            <p class="text-gray-600">Primary care physician</p>
            <a href="#" class="text-blue-500 hover:underline"
              >View case study</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
