<div class="bg-[#15663b] p-10 relative" style="z-index: -1">
  <div class="max-w-screen-lg mx-auto">
    <h1 class="text-center text-white text-2xl">No risk to get started</h1>
    <p class="text-center text-white">No upfront fees or subscription costs.</p>
  </div>
  <div class="relative">
    <img
      src="../../../../../assets/img/provider/solution/Squiggle_1___bfa22.png"
      alt=""
      class="absolute w-1/2 left-[-200px] mt-[-200px]"
      style="z-index: 0"
    />
  </div>
  <div class="relative">
    <img
      src="../../../../../assets/img/provider/solution/Squiggle_3___4d4a4.png"
      style="z-index: 0"
      class="absolute top-[-500px] left-[-200px] mt-[800px] w-1/2 p-2 h-auto"
      alt=""
    />
  </div>
  <div class="relative">
    <img
      src="../../../../../assets/img/provider/solution/Squiggle_3___4d4a4.png"
      style="z-index: 0"
      class="absolute top-2 left-[900px] mx-10 mt-[80px] w-1/2 p-2 object-cover"
      alt=""
      style="z-index: 0"
    />
  </div>

  <div class="relative">
    <div class="p-6 my-4 max-w-2xl mx-auto bg-white" style="z-index: 100">
      <!-- Zocdoc Practice Solutions -->
      <h2 class="text-2xl mb-4">Zocdoc Practice Solutions</h2>
      <div class="border-t border-gray-800">
        <!-- Solution Card -->
        <div class="flex justify-between py-4 border-b border-gray-200">
          <div>
            <h3 class="text-lg">Online scheduling from your website</h3>
            <p class="text-gray-600 text-[11px]">
              Give patients a convenient way to book directly from your
              practice’s website 24/7.
            </p>
          </div>
          <p class="text-green-500 font-medium self-center">Free</p>
        </div>
        <div class="flex justify-between py-4 border-b border-gray-200">
          <div>
            <h3 class="text-lg">Book from Google</h3>
            <p class="text-gray-600 text-[11px]">
              Let patients book with you directly from the top places they are
              searching for care, like Google, Apple, Bing, and others.
            </p>
          </div>
          <p class="text-green-500 font-medium self-center">Free</p>
        </div>
        <div class="flex justify-between py-4 border-b border-gray-200">
          <div>
            <h3 class="text-lg">Intake and reminders</h3>
            <p class="text-gray-600 text-[11px]">
              Collect insurance cards, IDs, and your office forms from all
              patients, even those who call to book.
            </p>
          </div>
          <p class="text-green-500 font-medium self-center">Free</p>
        </div>
        <div class="flex justify-between py-4 border-b border-gray-200">
          <div>
            <h3 class="text-lg">Video Service</h3>
            <p class="text-gray-600 text-[11px]">
              See patients virtually with an integrated, HIPAA-compliant video
              experience.
            </p>
          </div>
          <p class="text-green-500 font-medium self-center">Free</p>
        </div>
      </div>

      <!-- Zocdoc Marketplace -->
      <h2 class="text-2xl mt-8 mb-4">Zocdoc Marketplace</h2>
      <div class="border-t border-gray-800">
        <div class="flex justify-between py-4 border-b border-gray-200">
          <div>
            <h3 class="text-lg">Your existing patients</h3>
            <p class="text-gray-600 text-[11px]">
              Bookings made by your existing patients through the Marketplace
              are free.
            </p>
          </div>
          <p class="text-green-500 font-medium self-center">Free</p>
        </div>
        <div class="flex justify-between py-4 border-b border-gray-200">
          <div>
            <h3 class="text-lg">New patients from Zocdoc.com</h3>
            <p class="text-gray-600 text-[11px]">
              Receive bookings from new patients through Zocdoc.com or the
              Zocdoc mobile app.
            </p>
          </div>
          <p class="text-left ml-36">
            One-time fee for first booking
            <span class="text-[12px]">Varies by specialty and location</span>
          </p>
        </div>
      </div>

      <!-- Get Started Button -->
      <div class="mt-6 w-full text-center">
        <button
          class="bg-[#fff04b] py-2 w-full rounded hover:bg-yellow-600 transition"
        >
          Get started
        </button>
      </div>
    </div>
  </div>
</div>
