<div class="bg-[#333333] py-8 px-10">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-8">
    <div>
      <h4 class="text-white text-md">Zocdoc</h4>
      <ul class="space-y-1 text-gray-400">
        <li>
          <a href="javascript:void(0)" class="text-[12px] transition-all"
            >Home</a
          >
        </li>
        <li>
          <a href="javascript:void(0)" class="text-[12px] transition-all"
            >About Us</a
          >
        </li>
        <li>
          <a href="javascript:void(0)" class="text-[12px] transition-all"
            >Press</a
          >
        </li>
        <li>
          <a href="javascript:void(0)" class="text-[12px] transition-all"
            >Careers</a
          >
        </li>
        <li>
          <a href="javascript:void(0)" class="text-[12px] transition-all">
            Contact us</a
          >
        </li>
        <li>
          <a href="javascript:void(0)" class="text-[12px] transition-all"
            >Help</a
          >
        </li>
      </ul>
    </div>

    <div>
      <h4 class="text-white text-md mb-6">Discover</h4>
      <ul class="space-y-1 text-gray-400">
        <li>
          <a href="javascript:void(0)" class="text-[12px] transition-all"
            >The Paper Gown: Stories for and about patients</a
          >
        </li>
        <li>
          <a href="javascript:void(0)" class="text-[12px] transition-all"
            >Practice Resources for providers</a
          >
        </li>
        <li>
          <a href="javascript:void(0)" class="text-[12px] transition-all"
            >Community Standards</a
          >
        </li>
        <li>
          <a href="javascript:void(0)" class="text-[12px] transition-all"
            >Data and privacy</a
          >
        </li>

        <li>
          <a href="javascript:void(0)" class="text-[12px] transition-all"
            >Verified reviews</a
          >
        </li>
      </ul>
    </div>

    <div>
      <h4 class="text-white text-md mb-6 underline">Insurance Carriers</h4>
    </div>

    <div>
      <h4 class="text-white text-md mb-6 underline">Top Specialties</h4>
    </div>
    <div>
      <h4 class="text-white text-md mb-6">
        Are you a top doctor or health service?
      </h4>
      <ul class="space-y-1 text-gray-400">
        <li>
          <a href="javascript:void(0)" class="text-[12px] transition-all"
            >List your practice on Zocdoc</a
          >
        </li>
        <li>
          <a href="javascript:void(0)" class="text-[12px] transition-all"
            >Become an EHR partner</a
          >
        </li>
        <li>
          <a href="javascript:void(0)" class="text-[12px] transition-all"
            >Access Zocdoc for Developers</a
          >
        </li>
        <li>
          <a href="javascript:void(0)" class="text-[12px] transition-all"
            >Learn about Zocdoc Enterprise Solutions</a
          >
        </li>
        <div class="flex flex-col">
          <p class="text-md text-white">Get the Zocdoc app</p>

          <img
            src="../../../../assets/img/promotion/download-on-the-app-store-apple-logo-svgrepo-com.png"
            class="w-28 mt-[-20px] h-24"
            alt=""
          />
          <img
            src="../../../../assets/img/promotion/google-play-badge-logo-svgrepo-com.png"
            class="w-28 mt-[-60px] h-24"
            alt=""
          />
        </div>
      </ul>
    </div>
  </div>
  <!-- two -->

  <!-- three -->
</div>
<div class="bg-[#333333] pt-2">
  <p class="text-gray-300 text-[10px]">
    The content provided here and elsewhere on the Zocdoc site or mobile app is
    provided for general informational purposes only. It is not intended as, and
    Zocdoc does not provide, medical advice, diagnosis or treatment. Always
    contact your healthcare provider directly with any questions you may have
    regarding your health or specific medical advice.
  </p>
</div>
<div class="bg-[#000000] grid grid-cols-2 pt-1">
  <div
    class="container mx-auto flex col-span-1 space-x-5 text-[11px] items-center"
  >
    <p class="text-gray-400">&copy; 2024 Zocdoc, Inc.</p>
    <a href="#" class="text-gray-400">Terms</a>
    <a href="#" class="text-gray-400">Privacy</a>
    <a href="#" class="text-gray-400">Consumer Health</a>
    <a href="#" class="text-gray-400">Site map</a>
    <a href="#" class="text-gray-400">Your privacy choices</a>
  </div>
  <div class="space-x-4 flex justify-end mx-3 col-span-1 items-end text-end">
    <a href="#" class="rounded-full text-md">
      <!-- facecbook img -->
      <img
        src="../../../../assets/img/social-media/twitter.png"
        alt=""
        class="h-5 w-7"
      />
    </a>
    <a href="#" class="rounded-full text-md">
      <img
        src="../../../../assets/img/social-media/instagram.png"
        alt=""
        class="h-5 w-7"
      />
    </a>
    <a href="#" class="rounded-full text-md">
      <img
        src="../../../../assets/img/social-media/facebook.png"
        alt=""
        class="h-5 w-7"
      />
    </a>
    <a href="#" class="rounded-full text-md">
      <img
        src="../../../../assets/img/social-media/linkedin.png"
        alt=""
        class="h-5 w-7"
      />
    </a>
  </div>
</div>
