<div class="bg-[#fdfbee] h-[400px]">
  <div
    class="flex justify-center items-center h-[400px] pt-10 pb-[-10px] max-w-screen-lg mx-auto bg-[#fdfbee]"
  >
    <div class="max-w-screen-lg grid grid-cols-4 gap-12 items-center">
      <div class="hidden sm:block col-span-2 w-[500px] h-[500px]">
        <img
          src="../../../../../../assets/img/provider/HeroIllustrationV2___65425.png"
          alt="Practice growth illustration"
          class="w-[400px] h-[300px] my-14 mx-10"
        />
      </div>
      <div class="col-span-2">
        <h1 class="text-2xl text-gray-900">
          The easiest way to grow your practice
        </h1>
        <p class="mt-4 text-gray-700">
          Zendo helps you bring in more new patients and keep them coming back,
          while saving your practice valuable time.
        </p>
        <button class="mt-6 text-gray-500 border font-bold py-2 px-4 rounded">
          Get started
        </button>
        <p class="mt-2 text-gray-700 text-[14px]">
          Want to speak to us? Call us at (212) 204-7108
        </p>
      </div>
    </div>
  </div>
</div>
