<div class="max-w-screen-xl mx-auto grid grid-cols-2 gap-1">
  <div class="col-span-1 relative pt-5 mx-5">
    <img
      src="../../../assets/img/patients/provider-message-1232w___4b6fa.jpg"
      class="absolute w-full h-80 ml-[-10px]"
      alt="Zee RGB Logo"
    />
  </div>
  <div class="col-span-1 my-20 space-y-5">
    <p class="text-gray-500 text-md">Zocdoc for private practices</p>
    <!-- <h1>Are you a provider interested in reaching new patients?</h1>
    <ul>
    
    </ul>
  </div> -->

    <h2 class="text-lg font-semibold text-gray-900">
      Are you a provider interested in reaching new patients?
    </h2>
    <ul class="max-w-md space-y-1 text-sm text-gray-500 list-disc list-inside">
      <li>Reach patients in your area looking for a new provider</li>
      <li>Fill last-minute openings in your schedule</li>
      <li>Strengthen your online reputation with verified reviews</li>
    </ul>
    <button class="bg-[#feee4b] text-sm p-2 rounded-md space-y-2">
      List your practice on Zocdoc
    </button>
  </div>
</div>
<div
  class="bg-[#f9f8f6] p-6 rounded-lg max-w-screen-xl mx-auto grid grid-cols-2"
>
  <div class=" ">
    <div class="col-span-1 my-20 space-y-1">
      <p class="text-gray-500 text-md">Zocdoc for health systems</p>
      <h2 class="text-lg font-semibold text-gray-900">
        We’re trusted by top health systems
      </h2>
      <button class="bg-[#feee4b] text-sm my-16 p-2 rounded-md">
        Partner with Zocdoc
      </button>
    </div>
  </div>
  <div class="col-span-1 my-12">
    <!-- <img
      src="../../../assets/img/patients/provider-message-1232w___4b6fa.jpg"
      class="absolute w-full h-80 ml-[-30px]"
      alt="Zee RGB Logo"
    /> -->
    <div class="grid grid-cols-3 items-center justify-center gap-4">
      <div class="col-span-1 p-2">
        <img
          src="../../../assets/img/patients/medstar-health-logo___baa3b.png"
          class="w-[120px] h-[107px]"
          alt=""
          srcset=""
        />
      </div>
      <div class="col-span-1 p-2">
        <img
          src="../../../assets/img/patients/mountsinai-logo___c1387.png"
          class="w-[120px] h-[95px]"
          alt=""
          srcset=""
        />
      </div>
      <div class="col-span-1 p-2">
        <img
          src="../../../assets/img/patients/tufts-medical-logo___5e76f.png"
          class="w-[120px] h-[95px]"
          alt=""
          srcset=""
        />
      </div>
      <div class="col-span-1 p-2">
        <img
          src="../../../assets/img/patients/montefiore-logo___1361e.png"
          class="w-[120px] h-[107px]"
          alt=""
          srcset=""
        />
      </div>
      <div class="col-span-1 p-2">
        <img
          src="../../../assets/img/patients/intermount-health___aabe2.png"
          class="w-[120px] h-[95px]"
          alt=""
          srcset=""
        />
      </div>
      <div class="col-span-1 p-2">
        <img
          src="../../../assets/img/patients/download (2).png"
          class="w-[120px] h-[50px]"
          alt=""
          srcset=""
        />
      </div>
    </div>
  </div>
</div>
