<div class="p-8 bg-[#fdfbee]">
  <div class="flex justify-center items-center h-auto">
    <div class="p-8 w-full text-center">
      <h1 class="text-2xl mb-4">Are you a provider?</h1>
      <button
        class="bg-yellow-400 hover:bg-yellow-500 text-white py-2 px-4 text-center rounded-lg"
      >
        Provider Help
      </button>
    </div>
  </div>
</div>
<div class="p-8">
  <div class="flex justify-center items-center h-auto">
    <div class="p-8 w-full text-center">
      <h1 class="text-2xl mb-4">Healp center</h1>
    </div>
  </div>
</div>
