<div class="max-w-screen-xl p-3 mx-auto my-8">
  <div class="px-4 py-4 relative">
    <h1 class="text-4xl text-center text-gray-800 mb-6">
      Book local doctors who take your insurance
    </h1>
    <div
      class="w-5/6 mx-auto bg-white border border-gray-400 rounded-3xl p-[-10px]"
    >
      <form
        class="flex space-x-0.5 justify-center items-center border-gray-600 ml-3"
      >
        <div class="flex-1 relative">
          <!-- todo todo: add search Icon -->
          <span
            class="absolute left-2 top-1/2 transform -translate-y-1/2 text-gray-700"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-8 w-8"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
              />
            </svg>
          </span>

          <div class="relative">
            <input
              type="text"
              [formControl]="conditiom"
              placeholder="Condition, procedure, doctor..."
              (ngModelChange)="onConditionChange($event)"
              (focus)="showConditionDropdown = filteredConditions.length > 0"
              class="w-full pl-8 pr-4 py-2 border-none rounded-l-md focus:outline-none focus:ring-2 focus:ring-yellow-500"
            />

            <!-- Custom dropdown for conditions -->
            <ul
              *ngIf="filteredConditions.length > 0 && showConditionDropdown"
              class="absolute left-0 w-full mt-1 bg-white border border-gray-300 rounded-md shadow-lg max-h-60 overflow-auto z-10"
            >
              <li
                *ngFor="let condition of filteredConditions"
                (click)="selectCondition(condition); onDropdownItemClick()"
                class="px-4 py-2 text-gray-700 hover:bg-yellow-100 cursor-pointer"
              >
                {{ condition }}
              </li>
            </ul>
          </div>

          <span
            class="absolute right-0 top-1/2 transform -translate-y-1/2 px-2 text-gray-400"
            >|</span
          >
        </div>
        <div class="flex-1 relative">
          <span
            class="absolute left-2 top-1/2 transform -translate-y-1/2 text-gray-700"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
              />
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"
              />
            </svg>
          </span>
          <input
            type="text"
            placeholder="Mekele Town, TI"
            class="w-full pl-8 pr-4 py-2 border-none rounded-l-md focus:outline-none focus:ring-2 focus:ring-yellow-500"
          />
          <span
            class="absolute right-0 top-1/2 transform -translate-y-1/2 px-2 text-gray-400"
            >|</span
          >
        </div>
        <div class="flex-1 relative">
          <span
            class="absolute left-2 top-1/2 transform -translate-y-1/2 text-gray-700"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z"
              />
            </svg>
          </span>

          <input
            type="text"
            [formControl]="insurance"
            placeholder="Insurance carrier and plan"
            (ngModelChange)="onInsurancePlanChange($event)"
            (focus)="showDropdown = filteredInsurancePlans.length > 0"
            class="w-full pl-8 pr-4 py-2 border-none rounded-l-md focus:outline-none focus:ring-2 focus:ring-yellow-500"
          />

          <!-- Custom dropdown -->
          <ul
            *ngIf="filteredInsurancePlans.length > 0 && showDropdown"
            class="absolute left-0 w-full mt-1 bg-white border border-gray-300 rounded-md shadow-lg max-h-60 overflow-auto z-10"
          >
            <li
              *ngFor="let plan of filteredInsurancePlans"
              (click)="selectInsurancePlan(plan); onDropdownItemClick()"
              class="px-4 py-2 text-gray-700 hover:bg-yellow-100 cursor-pointer"
            >
              {{ plan }}
            </li>
          </ul>
        </div>
        <div
          class="bg-yellow-200 rounded-3xl hover:bg-yellow-600 justify-center pl-5 pr-5 items-center"
        >
          <button type="submit" class="text-gray-700 items-center my-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-8 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
              />
            </svg>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
