<div class="bg-[#fdfbee] h-auto relative">
  <div
    class="items-center justify-center max-w-screen-lg mx-auto p-5 mt-[-50px]"
  >
    <h1 class="text-3xl text-center mt-[30px]">Why you’ll love Zocdoc</h1>
  </div>

  <div class="relative">
    <img
      src="../../../../../../assets/img/provider/download.png"
      class="absolute top-2 left-[300px] w-1/4 h-auto"
      style="z-index: 1"
      alt=""
    />
  </div>

  <div class="relative">
    <img
      src="../../../../../../assets/img/provider/download (1) (2).png"
      class="absolute top-[500px] right-[350px] w-1/4 h-auto"
      style="z-index: 1"
      alt=""
    />

    <div class="flex justify-center items-center bg-[#fdfbee]">
      <div class="max-w-screen-lg grid grid-cols-4 gap-2 items-center">
        <!-- Increased gap -->
        <div
          class="hidden sm:block col-span-2 w-[500px] h-[500px]"
          style="z-index: 100"
        >
          <!-- Added shadow -->
          <img
            src="../../../../../../assets/img/provider/GetBookings___d3202.png"
            alt="Practice growth illustration"
            class="w-[400px] h-[300px] my-14 mx-10"
          />
        </div>
        <div class="col-span-2 mr-[20px]">
          <h1 class="text-xl text-gray-900">
            Get the right new patients for your practice
          </h1>
          <p class="mt-4 text-gray-700 text-wrap text-md">
            Showcase your practice to the largest group of patients searching
            for care online. Only accept patients for the insurances and visit
            reasons you list.
          </p>
          <a href="" class="mt-2 text-gray-700 text-[14px]">
            How Marketplace works
          </a>
        </div>
      </div>
    </div>

    <!-- section 1 -->
    <div class="flex justify-center items-center mt-[-110px]">
      <div class="max-w-screen-lg grid grid-cols-4 gap-2 items-center">
        <!-- Increased gap -->
        <div class="col-span-2 mr-[20px]">
          <h1 class="text-xl text-gray-900">
            Make it easy for patients to book with you online
          </h1>
          <p class="mt-2 text-gray-700 text-wrap text-md">
            Turn patient interest into bookings anywhere patients find you
            online – whether that’s through search engines (such as Google),
            your website, or the Zocdoc Marketplace.
          </p>
        </div>
        <div
          class="hidden sm:block col-span-2 w-[500px] h-[500px]"
          style="z-index: 100"
        >
          <!-- Added shadow -->
          <img
            src="../../../../../../assets/img/provider/JoinTheMarketplace___7ecaf.png"
            alt="Practice growth illustration"
            class="w-[400px] h-[300px] my-14 mx-10"
          />
        </div>
      </div>
    </div>

    <!-- section 2 -->
    <div class="flex justify-center items-center mt-[-100px]">
      <div class="max-w-screen-lg grid grid-cols-4 gap-2 items-center">
        <!-- Increased gap -->
        <div class="hidden sm:block col-span-2 w-[500px] h-[500px]">
          <!-- Added shadow -->
          <img
            src="../../../../../../assets/img/provider/StopChasingPatients___4767d (1).png"
            alt="Practice growth illustration"
            class="w-[400px] h-[300px] my-14 mx-10"
          />
        </div>
        <div class="col-span-2 mr-[20px]">
          <h1 class="text-xl text-gray-900">
            Save time collecting essential information from patients
          </h1>
          <p class="mt-4 text-gray-700 text-wrap text-md">
            Receive insurance cards, IDs, and forms from all your patients,
            before they arrive for their appointment.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
