<nav
  [ngClass]="{
    'bg-[#fdfbee]': isHomePage() || isMainPatient(),
    'bg-white': isProvider(),
    'bg-[#fed337]': isHelpPage(),
  
  }"
  [ngStyle]="
    isHelpPage()
      ? {
          'background-image':
            'url(../../../../../../../assets/img/helps/df578b8873254ecb561a851228a6e913.png)',
          'background-size': 'cover',
          'background-position': 'center'
        }
      : {}
  "
  class="border-b border-gray-200 dark:bg-gray-900 dark:border-gray-700 relative"
>
  <!-- home -->
  <div
    *ngIf="isHomePage()"
    class="flex items-center space-x-3 rtl:space-x-reverse"
    style="z-index: -1"
  >
    <img
      src="../../../../assets/img/1.png"
      class="h-52 w-1/4 absolute top-4 right-52 mx-2"
      alt="Zocdoc Logo"
    />
  </div>
  <div class="max-w-screen-xl flex items-center justify-between mx-auto p-4">
    <!-- home and procvider -->
    <a
      *ngIf="isHomePage() || isProvider() || isMainPatient()"
      href="#"
      class="flex"
    >
      <img
        src="../../../../assets/img/zee_rgb.png"
        class="h-8"
        alt="Zocdoc Logo"
      />

      <span class="text-xl"
        >Zocdoc
        <span *ngIf="isProvider()" class="text-[10px]"
          >for providers</span
        ></span
      >
    </a>

    <!-- help page -->
    <a *ngIf="isHelpPage()" href="#" class="flex">
      <span class="text-xl">Help Center </span>
    </a>

    <div class="flex items-center space-x-6">
      <div
        *ngIf="isHomePage()"
        class="relative"
        [ngClass]="{ open: isBrowseOpen }"
        (click)="toggleBrowse()"
      >
        <button
          data-modal-target="default-modal"
          data-modal-toggle="default-modal"
          class="flex items-center text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
        >
          Browse

          <svg
            class="w-5 h-5 ml-1"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>

        <!-- start of the dropdown menu and model with tabs -->

        <!-- Main modal -->
        <div
          id="default-modal"
          tabindex="-1"
          aria-hidden="true"
          class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
        >
          <div class="relative p-4 w-[1000px] max-w-full max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
              <!-- Modal header -->

              <!-- Modal body -->

              <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
                <ul
                  class="flex flex-wrap -mb-px text-sm font-medium text-center"
                  id="default-tab"
                  data-tabs-toggle="#default-tab-content"
                  role="tablist"
                >
                  <li class="me-2" role="presentation">
                    <button
                      class="inline-block p-4 border-b-2 rounded-t-lg"
                      id="profile-tab"
                      data-tabs-target="#profile"
                      type="button"
                      role="tab"
                      aria-controls="profile"
                      aria-selected="false"
                    >
                      Specialties
                    </button>
                  </li>
                  <li class="me-2" role="presentation">
                    <button
                      class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                      id="dashboard-tab"
                      data-tabs-target="#dashboard"
                      type="button"
                      role="tab"
                      aria-controls="dashboard"
                      aria-selected="false"
                    >
                      Procedures
                    </button>
                  </li>

                  <li
                    class="mx-auto justify-end items-end ml-[680px] mt-[10px]"
                  >
                    <button
                      type="button"
                      class="text-gray-700 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                      data-modal-hide="default-modal"
                    >
                      <svg
                        class="w-3 h-3"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 14 14"
                      >
                        <path
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                        />
                      </svg>
                      <span class="sr-only">Close modal</span>
                    </button>
                  </li>
                </ul>
              </div>
              <div id="default-tab-content">
                <div
                  class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800"
                  id="profile"
                  role="tabpanel"
                  aria-labelledby="profile-tab"
                >
                  <div class="grid grid-cols-3 gap-3">
                    <div
                      *ngFor="let common of commonVisitReasons"
                      class="flex flex-col col-span-1 p-1 mb-1 border-b border-b-gray-400 rounded-sm"
                    >
                      <button
                        class="w-full px-6 py-3 text-left flex justify-between items-center transition-colors"
                        (click)="toggleSubCity(common)"
                      >
                        <span class="text-gray-900 text-sm">{{
                          common.name
                        }}</span>
                        <svg
                          class="w-5 h-5 transition-transform duration-300"
                          [class.rotate-180]="common.showSubCities"
                          fill="none"
                          stroke="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M19 9l-7 7-7-7"
                          ></path>
                        </svg>
                      </button>
                      <div
                        class="mt-2 w-full p-4 transition-all duration-300"
                        *ngIf="common.showSubCities"
                      >
                        <a
                          *ngFor="let subCity of common.subCommonVisitReasons"
                          href="#"
                          class="block text-gray-600 underline hover:text-gray-800 mb-1 transition duration-200"
                        >
                          {{ subCity }}
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800"
                  id="dashboard"
                  role="tabpanel"
                  aria-labelledby="dashboard-tab"
                >
                  <div class="grid grid-cols-3 gap-3">
                    <div
                      *ngFor="let common of producer.subCityProducer"
                      class="flex flex-col col-span-1 p-1 mb-1 border-b border-b-gray-400 rounded-sm"
                    >
                      <button
                        class="w-full px-6 py-3 text-left flex justify-between items-center transition-colors"
                        (click)="toggleSubCity(common)"
                      >
                        <span class="text-gray-600 text-sm underline">{{
                          common.services
                        }}</span>
                        <svg
                          class="w-5 h-5 transition-transform duration-300"
                          [class.rotate-180]="common.showSubCities"
                          fill="none"
                          stroke="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M19 9l-7 7-7-7"
                          ></path>
                        </svg>
                      </button>
                      <div
                        class="mt-2 w-full p-4 transition-all duration-300"
                        *ngIf="common.showSubCities"
                      >
                        <a
                          *ngFor="let subCity of common.services"
                          href="#"
                          class="block text-gray-600 underline hover:text-gray-800 mb-1 transition duration-200"
                        >
                          {{ subCity }}
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Modal footer -->
            </div>
          </div>
        </div>

        <!-- end of the dropdown menu -->
      </div>
      <!-- home -->
      <div *ngIf="isHomePage()" class="space-x-5">
        <a
          routerLink="/help"
          class="text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
          >Help</a
        >

        <a
          routerLink="/providers"
          class="text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
          >List your practice on Zocdoc</a
        >
      </div>
      <!-- help page -->
      <div *ngIf="isHelpPage()" class="space-x-5">
        <a
          href="#"
          class="text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
          >zocdoc</a
        >

        <a
          routerLink="/providers"
          class="text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
          >contact us
        </a>

        <select
          id="countries"
          class="text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white border-none bg-[#fed337] p-[2px]"
        >
          <option selected>English</option>
        </select>
      </div>

      <!-- provider -->
      <div
        *ngIf="isProvider()"
        class="relative"
        [ngClass]="{ open: isBrowseOpen }"
        (click)="toggleBrowse()"
      >
        <button
          data-modal-target="default-modal"
          data-modal-toggle="default-modal"
          class="flex items-center text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
        >
          Solutions

          <svg
            class="w-5 h-5 ml-1"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>

        <!-- start of the dropdown menu and model with tabs -->

        <!-- Main modal -->
        <div
          id="default-modal"
          tabindex="-1"
          aria-hidden="true"
          class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
        >
          <div class="relative p-4 w-[1000px] max-w-full max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
              <!-- Modal header -->

              <!-- Modal body -->

              <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
                <ul
                  class="flex flex-wrap -mb-px text-sm font-medium text-center"
                  id="default-tab"
                  data-tabs-toggle="#default-tab-content"
                  role="tablist"
                >
                  <li class="me-2" role="presentation">
                    <button
                      class="inline-block p-4 border-b-2 rounded-t-lg"
                      id="profile-tab"
                      data-tabs-target="#profile"
                      type="button"
                      role="tab"
                      aria-controls="profile"
                      aria-selected="false"
                    >
                      Specialties
                    </button>
                  </li>
                  <li class="me-2" role="presentation">
                    <button
                      class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                      id="dashboard-tab"
                      data-tabs-target="#dashboard"
                      type="button"
                      role="tab"
                      aria-controls="dashboard"
                      aria-selected="false"
                    >
                      Procedures
                    </button>
                  </li>

                  <li
                    class="mx-auto justify-end items-end ml-[680px] mt-[10px]"
                  >
                    <button
                      type="button"
                      class="text-gray-700 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                      data-modal-hide="default-modal"
                    >
                      <svg
                        class="w-3 h-3"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 14 14"
                      >
                        <path
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                        />
                      </svg>
                      <span class="sr-only">Close modal</span>
                    </button>
                  </li>
                </ul>
              </div>
              <div id="default-tab-content">
                <div
                  class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800"
                  id="profile"
                  role="tabpanel"
                  aria-labelledby="profile-tab"
                >
                  <div class="grid grid-cols-3 gap-3">
                    <div
                      *ngFor="let common of commonVisitReasons"
                      class="flex flex-col col-span-1 p-1 mb-1 border-b border-b-gray-400 rounded-sm"
                    >
                      <button
                        class="w-full px-6 py-3 text-left flex justify-between items-center transition-colors"
                        (click)="toggleSubCity(common)"
                      >
                        <span class="text-gray-900 text-sm">{{
                          common.name
                        }}</span>
                        <svg
                          class="w-5 h-5 transition-transform duration-300"
                          [class.rotate-180]="common.showSubCities"
                          fill="none"
                          stroke="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M19 9l-7 7-7-7"
                          ></path>
                        </svg>
                      </button>
                      <div
                        class="mt-2 w-full p-4 transition-all duration-300"
                        *ngIf="common.showSubCities"
                      >
                        <a
                          *ngFor="let subCity of common.subCommonVisitReasons"
                          href="#"
                          class="block text-gray-600 underline hover:text-gray-800 mb-1 transition duration-200"
                        >
                          {{ subCity }}
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800"
                  id="dashboard"
                  role="tabpanel"
                  aria-labelledby="dashboard-tab"
                >
                  <div class="grid grid-cols-3 gap-3">
                    <div
                      *ngFor="let common of producer.subCityProducer"
                      class="flex flex-col col-span-1 p-1 mb-1 border-b border-b-gray-400 rounded-sm"
                    >
                      <button
                        class="w-full px-6 py-3 text-left flex justify-between items-center transition-colors"
                        (click)="toggleSubCity(common)"
                      >
                        <span class="text-gray-600 text-sm underline">{{
                          common.services
                        }}</span>
                        <svg
                          class="w-5 h-5 transition-transform duration-300"
                          [class.rotate-180]="common.showSubCities"
                          fill="none"
                          stroke="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M19 9l-7 7-7-7"
                          ></path>
                        </svg>
                      </button>
                      <div
                        class="mt-2 w-full p-4 transition-all duration-300"
                        *ngIf="common.showSubCities"
                      >
                        <a
                          *ngFor="let subCity of common.services"
                          href="#"
                          class="block text-gray-600 underline hover:text-gray-800 mb-1 transition duration-200"
                        >
                          {{ subCity }}
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Modal footer -->
            </div>
          </div>
        </div>

        <!-- end of the dropdown menu -->
      </div>
      <!-- provider -->
      <div
        *ngIf="isProvider()"
        class="relative"
        [ngClass]="{ open: isBrowseOpen }"
        (click)="toggleBrowse()"
      >
        <button
          data-modal-target="default-modal"
          data-modal-toggle="default-modal"
          class="flex items-center text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
        >
          Learn

          <svg
            class="w-5 h-5 ml-1"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>

        <!-- start of the dropdown menu and model with tabs -->

        <!-- Main modal -->
        <div
          id="default-modal"
          tabindex="-1"
          aria-hidden="true"
          class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
        >
          <div class="relative p-4 w-[1000px] max-w-full max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
              <!-- Modal header -->

              <!-- Modal body -->

              <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
                <ul
                  class="flex flex-wrap -mb-px text-sm font-medium text-center"
                  id="default-tab"
                  data-tabs-toggle="#default-tab-content"
                  role="tablist"
                >
                  <li class="me-2" role="presentation">
                    <button
                      class="inline-block p-4 border-b-2 rounded-t-lg"
                      id="profile-tab"
                      data-tabs-target="#profile"
                      type="button"
                      role="tab"
                      aria-controls="profile"
                      aria-selected="false"
                    >
                      Specialties
                    </button>
                  </li>
                  <li class="me-2" role="presentation">
                    <button
                      class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                      id="dashboard-tab"
                      data-tabs-target="#dashboard"
                      type="button"
                      role="tab"
                      aria-controls="dashboard"
                      aria-selected="false"
                    >
                      Procedures
                    </button>
                  </li>

                  <li
                    class="mx-auto justify-end items-end ml-[680px] mt-[10px]"
                  >
                    <button
                      type="button"
                      class="text-gray-700 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                      data-modal-hide="default-modal"
                    >
                      <svg
                        class="w-3 h-3"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 14 14"
                      >
                        <path
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                        />
                      </svg>
                      <span class="sr-only">Close modal</span>
                    </button>
                  </li>
                </ul>
              </div>
              <div id="default-tab-content">
                <div
                  class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800"
                  id="profile"
                  role="tabpanel"
                  aria-labelledby="profile-tab"
                >
                  <div class="grid grid-cols-3 gap-3">
                    <div
                      *ngFor="let common of commonVisitReasons"
                      class="flex flex-col col-span-1 p-1 mb-1 border-b border-b-gray-400 rounded-sm"
                    >
                      <button
                        class="w-full px-6 py-3 text-left flex justify-between items-center transition-colors"
                        (click)="toggleSubCity(common)"
                      >
                        <span class="text-gray-900 text-sm">{{
                          common.name
                        }}</span>
                        <svg
                          class="w-5 h-5 transition-transform duration-300"
                          [class.rotate-180]="common.showSubCities"
                          fill="none"
                          stroke="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M19 9l-7 7-7-7"
                          ></path>
                        </svg>
                      </button>
                      <div
                        class="mt-2 w-full p-4 transition-all duration-300"
                        *ngIf="common.showSubCities"
                      >
                        <a
                          *ngFor="let subCity of common.subCommonVisitReasons"
                          href="#"
                          class="block text-gray-600 underline hover:text-gray-800 mb-1 transition duration-200"
                        >
                          {{ subCity }}
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800"
                  id="dashboard"
                  role="tabpanel"
                  aria-labelledby="dashboard-tab"
                >
                  <div class="grid grid-cols-3 gap-3">
                    <div
                      *ngFor="let common of producer.subCityProducer"
                      class="flex flex-col col-span-1 p-1 mb-1 border-b border-b-gray-400 rounded-sm"
                    >
                      <button
                        class="w-full px-6 py-3 text-left flex justify-between items-center transition-colors"
                        (click)="toggleSubCity(common)"
                      >
                        <span class="text-gray-600 text-sm underline">{{
                          common.services
                        }}</span>
                        <svg
                          class="w-5 h-5 transition-transform duration-300"
                          [class.rotate-180]="common.showSubCities"
                          fill="none"
                          stroke="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M19 9l-7 7-7-7"
                          ></path>
                        </svg>
                      </button>
                      <div
                        class="mt-2 w-full p-4 transition-all duration-300"
                        *ngIf="common.showSubCities"
                      >
                        <a
                          *ngFor="let subCity of common.services"
                          href="#"
                          class="block text-gray-600 underline hover:text-gray-800 mb-1 transition duration-200"
                        >
                          {{ subCity }}
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Modal footer -->
            </div>
          </div>
        </div>

        <!-- end of the dropdown menu -->
      </div>
      <div *ngIf="isProvider()" class="space-x-5">
        <a
          routerLink="/providers"
          class="text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
          >Find care</a
        >
      </div>

      <!-- common  -->
      <div *ngIf="!isHelpPage() && !isMainPatient()">
        <div
          class="relative"
          [ngClass]="{ open: isLoginOpen }"
          (click)="toggleLogin()"
        >
          <button
            class="flex items-center text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
          >
            Log in

            <svg
              class="w-5 h-5 ml-1"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </button>

          <div
            class="absolute right-0 z-10 mt-2 w-48 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none dark:bg-gray-800 dark:divide-gray-700"
            *ngIf="isLoginOpen"
          >
            <div class="py-2">
              <div
                class="px-4 py-2 text-sm font-semibold text-gray-700 dark:text-gray-400"
              >
                Patients
              </div>
              <button
                (click)="toggleSignInModal()"
                class="text-gray-700 items-center text-center border-none text-sm px-5 py-2.5"
              >
                Login
              </button>
            </div>

            <div class="py-2">
              <div
                class="px-4 py-2 text-sm font-semibold text-gray-700 dark:text-gray-400"
              >
                Doctors
              </div>
              <button
                (click)="toggleSignInModal()"
                class="text-gray-700 items-center text-center border-none text-sm px-5 py-2.5"
              >
                Login
              </button>
            </div>
          </div>
        </div>
      </div>

      <button
        class="px-4 py-2 bg-yellow-200 hover:bg-yellow-500 text-gray-900 rounded-md"
        *ngIf="!isHelpPage() && !isMainPatient()"
      >
        Sign up
      </button>

      <!-- PatientPage -->
      <div *ngIf="isMainPatient()" class="space-x-5 flex items-center">
        <!-- Notification Button -->
        <button
          class="px-4 py-2 space-x-2 flex border bg-[#fdfbee] text-gray-900 rounded-md hover:bg-[#f8e6c2] transition"
          (click)="handleNotificationClick()"
        >
          <svg
            class="h-6 w-4"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9" />
            <path d="M13.73 21a2 2 0 0 1-3.46 0" />
          </svg>
          <span>0</span>
        </button>

        <!-- Dropdown Button -->
        <div class="relative">
          <div class="flex items-center">
            <button
              class="px-4 py-2 border bg-[#fdfbee] text-gray-900 rounded-md hover:bg-[#f8e6c2] transition"
            >
              <div class="flex items-center">
                <span>Yared</span>
                <svg
                  class="ml-2 h-4 w-4"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                  />
                </svg>
              </div>
            </button>
          </div>

          <!-- Dropdown Menu -->
          <div
            *ngIf="isDropdownOpen"
            class="absolute right-0 mt-2 w-40 bg-white border border-gray-300 rounded-md shadow-lg"
          >
            <ul class="py-1">
              <li
                class="px-4 py-2 hover:bg-gray-100 cursor-pointer"
                (click)="handleProfileClick()"
              >
                View Profile
              </li>
              <li
                class="px-4 py-2 hover:bg-gray-100 cursor-pointer"
                (click)="handleSettingsClick()"
              >
                Settings
              </li>
              <li
                class="px-4 py-2 hover:bg-gray-100 cursor-pointer"
                (click)="handleLogoutClick()"
              >
                Logout
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-banner *ngIf="isHomePage()"></app-banner>
  <!-- for help page -->
  <app-search *ngIf="isHelpPage()"></app-search>
  <app-banner-main *ngIf="isMainPatient()"></app-banner-main>
  <!-- <div *ngIf="isProvider()">provider banner</div> -->
</nav>
