<div
  *ngIf="isOpen"
  class="fixed inset-0 z-50 w-full flex items-center justify-center overflow-y-auto bg-gray-900 bg-opacity-50"
>
  <div class="relative p-4 w-full max-w-md max-h-full">
    <div class="relative bg-white rounded-lg shadow-lg">
      <div class="flex flex-col p-6">
        <h3 class="text-xl mb-4">To log in, enter your email address</h3>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="w-full">
          <input
            type="email"
            formControlName="email"
            placeholder="Email Address"
            required
            class="block w-full p-2 border rounded-md mb-4"
            [class.border-red-500]="email?.invalid && email?.touched"
          />
          @if (email?.invalid && email?.touched) {
          <p class="mt-1 text-sm text-red-500">
            Please enter a valid email address
          </p>
          }
          <button
            type="submit"
            class="block w-full bg-[#fff04b] hover:bg-[#fff04b] text-gray-800 font-medium rounded-lg text-sm px-5 py-2.5 mb-4"
          >
            @if (isLoading) {
            <svg
              class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                stroke-width="4"
              ></circle>
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
              ></path>
            </svg>
            Signing in... } @else { Continue }
          </button>
          <div class="flex justify-between mb-4">
            <span class="border-b border-gray-300 w-1/4"></span>
            <span class="mx-2 text-gray-500">or</span>
            <span class="border-b border-gray-300 w-1/4"></span>
          </div>
          <button
            type="button"
            class="block w-full bg-white border border-gray-300 text-gray-700 font-medium rounded-lg text-sm px-5 py-2.5 mb-2"
          >
            <!-- added icon img -->
            <img
              src="../../../assets/signIn/google.png"
              alt=""
              class="w-4 h-4 mb-[-17px]"
            />

            Continue with Google
          </button>
          <button
            type="button"
            class="block w-full bg-white border border-gray-300 text-gray-700 font-medium rounded-lg text-sm px-5 py-2.5"
          >
            <img
              src="../../../assets/signIn/apple.png"
              alt=""
              class="w-5 h-5 mb-[-17px]"
            />
            Continue with Apple
          </button>
        </form>
      </div>
      <div class="absolute top-2 right-2">
        <button
          (click)="closeModal()"
          class="text-gray-400 hover:text-gray-900"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
