<div class="max-w-screen-lg mx-auto bg-[#ffffff]">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 p-8">
    <div class="flex flex-col justify-center">
      <h1 class="text-xl text-center md:text-left mb-4">
        Helping both patients
      </h1>
      <h2 class="text-xl text-center md:text-left mb-4">and providers</h2>
    </div>
    <div class="flex items-center justify-center">
      <!-- You can add an image or any other content here -->
      <p class="text-[14px] text-gray-700 text-center md:text-left">
        You can always choose. A healthcare experience that puts the patient
        first. Whether you're visiting Zocdoc for the first time or looking for
        a provider to fit your needs, Zocdoc is designed to help you find and
        schedule appointments with the right providers. Zocdoc brings you closer
        to a better healthcare experience, making it easier for you to book new
        bookings.
      </p>
    </div>
  </div>
</div>
